.projets {
    background: #F5F5F5;

    .btn-group {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

        nav {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    }

    .btn-portfolio {
        background-color: #E5E5E5;
        color: #999;
        font-weight: 600; // padding: 0.8em;
        display: flex;
        padding: 1em;
        margin-top: 1em; //    margin-left: 1em;
        /* I remove margin-left because is not that the psd */
        transition: 0.5s all ease-in-out;
        border-bottom: 2px solid transparent;
        position: relative;

        &:hover {
            background-color: $blue;
            color: #fff;
            border-bottom: 2px solid $color-border-top;
            border-bottom-left-radius: 1px;
        }

        &:hover::after {
            border-left: solid transparent 10px;
            border-right: solid transparent 10px;
            border-top: solid $blue 10px;
            bottom: -12px;
            content: " ";
            height: 0;
            left: 50%;
            margin-left: -10px;
            position: absolute;
            width: 0;
        }
    }
}

// add little pb to img portfolio //
.main-iso {
    position: relative;


    figure img {
        width: 100%;
         padding-bottom: 0.6em; // i add padding bottom because i need center overlay hover //
    }


}

figure {
        position: relative;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.021);
        
        figcaption { 
            position: absolute; 
            background: rgba(0,0,0,0.4); 
            color: white; 
            width: 100%;
            opacity: 0;
            bottom: -30%; 
            left: 0;
            margin: 1em;
            margin-left: 0;
            transition: all 0.6s ease;

            p {
                margin-bottom: 0;
                font-weight: 600;
            }
        }   
    }


figure:hover figcaption {
    opacity: 1;
    bottom: 0;
}
/* icone overlay hover */
figcaption div {
    width: 2em;
    height: 2em;
    background-color: $blue;
    border-radius: 50%;
    border: 1px solid #fff;
    position: absolute;
    left: 85%;
    top: -20px;
}

/* Source portfolio
https://jsfiddle.net/Lysdora/xbhaaL5w/ */

/* Source hover btn triangle
http://jsfiddle.net/ytgs8/8/
https://jsfiddle.net/Lysdora/e9869tvw/ */
