$color-link: #616161;
$color-link-active: #272727;
$color-link-hover: #8c8b8b;
$link-border-bottom: rgba(92, 173, 211, 0.09);
$blue: #5cadd3;
$color-h2: #262626;
$font-size-h2: 2.1em;
$color-border-top: rgba(128, 128, 128, 0.2);
$color-bg-section: rgba(250, 250, 250, 0.38);
