/*----------------------------------------------
--Slider
-----------------------------------------------  */

.carousel {
  background: #fafafa;
  position: relative;
}

.carousel-cell {
  width: 100%;
  height: auto;
  background: $blue;
  border-radius: 5px;
  counter-increment: gallery-cell;
  display: flex;
  flex-direction: column;

  img {
    width: 100%;
  }


  .static-banner {
    position: absolute;
    // background: hsla(0, 0%, 0%, 0.3);
     z-index: 1;
    // padding: 2px 20px;
    // font-size: 26px;
    color: white;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    font-size: 1em;
  }
  h1 {
    font-size: 4em;
    line-height: 1.2em;
    margin-top: -1.8em;
    background-color:rgba(0, 0, 0, 0.19);
    span {
      color: $blue;
    }
  }
  p {
    font-weight: 600;
    font-size: 0.7em;
    line-height: 1.1em;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    background-color:rgba(0, 0, 0, 0.19);
  }
a {
  background-color: $blue;
  color: #fff;
  font-weight: 600;
  // padding: 0.8em;
  align-self: flex-start;
  padding: 0.2em;
  margin-top:0.5em;
  transition: 0.5s all ease-in-out;
  border-radius: 2px;
  border-bottom: 2px solid $blue;
  font-size: 0.5em;


}

  .static-banner1 {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-top: 10%;
    margin-left:  10%;
  }
}

/* Mobile style  @iphone 5 and max little tablet */

@media (min-width: 320px) {
  .carousel-cell h1 {
    font-size: 1em;
    line-height: 1.2em;

  }
  .carousel-cell p {
    line-height: 1.3em;
    font-size: 0.8em;
    text-shadow: 2px 4px 3px #262626;
  }
  .carousel-cell a {
    padding: 0.2em;
    font-size: 0.7em;
  }
}

@media (min-width: 576px) {
  .carousel-cell h1 {
    font-size: 1.7em;
    line-height: 1.4em;
    background-color: transparent;
  }
  .carousel-cell p {
    font-size: 1.4em;
    line-height: 1.2em;
    background-color: transparent;
  }
  .carousel-cell a {
    font-size: 1em;
    padding: 0.3em;
  }
}

/* Tablet style */

@media (min-width: 768px) {
  .carousel-cell h1 {
    font-size: 2em;
    margin-top: -1.1em;

  }
  .carousel-cell p {
    line-height: 2em;
    font-size: 1.2em;

  }
  .carousel-cell a {
    font-size: 1.1em;
    padding: 0.3em;
  }
}

/* laptop style */
@media (min-width: 1200px) {
  .carousel-cell h1 {
    font-size: 3em;
    margin-top: 0;
    background-color: transparent;
  }
  .carousel-cell p {
    line-height: 2em;
    font-size: 2em;
    background-color: transparent;

  }
  .carousel-cell a {
    font-size: 1.5em;
    padding: 0.3em;
  }
}
